<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InstallApplications" type="SandBox.Winform.SilentInstall.InstallApplicationsSection, SandBox.Winform.SilentInstall"/>
    <section name="InstallChoice" type="SandBox.Winform.SilentInstall.EnvironmentsSection, SandBox.Winform.SilentInstall" />
  </configSections>
  <appSettings>
    <add key="WorkConfigDir" value="./Work/"/>
    <add key="ConfigDir" value="./ConfigFiles/"/>
    <add key="WorkConfig" value="work.config"/>
    <add key="RegKeyWinlogon" value="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon\"/>
    <add key="RegKeyBaseMachine" value="HKEY_LOCAL_MACHINE" />
    <add key="ContinueBat" value="continue.bat"/>
  </appSettings>
  <InstallApplications>
    <application name="Biztalk2009" Description="Biztalk 2009" Execute="[BASEINSTALLDIR]installBiztalk2009.bat" />
    <application name="BiztalkPrerequisites" Description="Biztalk Prerequisites" Execute="[BASEINSTALLDIR]installBiztalkPrerequisites.bat" />
    <application name="IIS" Description="IIS 7" Execute="[BASEINSTALLDIR]installIIS.bat" />
    <application name="Office2007" Description="Office 2007" Execute="[BASEINSTALLDIR]installOffice2007.bat" />
    <application name="Visual2008" Description="Visual Studio 2008" Execute="[BASEINSTALLDIR]installVisualStudio2008.bat" />
    <application name="Visual2008SharePointExtensionv13" Description="Visual Studio 2008 SharePoint Extensions v1.3"  Execute="[BASEINSTALLDIR]installVisualStudio2008_SharePointExtension_v13.bat" />
    <application name="Visual2008Sp1" Description="Visual Studio 2008 Service Pack 1" Execute="[BASEINSTALLDIR]installVisualStudio2008_sp1.bat" />
    <application name="Visual2008TeamExplorer" Description="Visual Studio 2008 Team Explorer" Execute="[BASEINSTALLDIR]installVisualStudio2008TeamExplorer.bat" />
    <application name="SharePointDesigner2007" Description="SharePoint Designer 2007" Execute="[BASEINSTALLDIR]installSharePointDesigner2007.bat" />
    <application name="SQL2008" Description="SQL 2008" Execute="[BASEINSTALLDIR]installSQL2008.bat" />
    <application name="Wss3Sp1" Description="Windwos SharePoint Services 3 with Service Pack 1"  Execute="[BASEINSTALLDIR]installWSS3sp1.bat" />
    <application name="Biztalk2009ESBToolKit20" Description="Biztalk 2009 ESB Tool Kit 2.0" Execute="[BASEINSTALLDIR]installBizTalkESBToolKit2_0.bat" />
    <application name="Reboot" Description="Reboot" Execute="[BASEINSTALLDIR]Reboot.bat" />
  </InstallApplications>
  <InstallChoice>
    <Environments>
      <Environment name="Biztalk2009" Description="Install Biztalk 2009 Dev on win 2008">
        <applications>
          <application order="1" value="IIS" />
          <application order="2" value="Office2007" />
          <application order="3" value="Visual2008" />
          <application order="4" value="Visual2008TeamExplorer" />
          <application order="5" value="Visual2008Sp1" />
          <application order="6" value="SQL2008" />
          <application order="7" value="Reboot" />
          <application order="8" value="SQL2008" />
          <application order="9" value="BiztalkPrerequisites" />
          <application order="10" value="Wss3Sp1" />
          <application order="11" value="Biztalk2009" />
        </applications>
      </Environment>
      <Environment name="Biztalk2009ESBToolKit20" Description="Install Biztalk 2009 ESB Tool Kit 2.0">
        <applications>
          <application order="1" value="Biztalk2009ESBToolKit20" />
        </applications>
      </Environment>    
    </Environments>
  </InstallChoice>
</configuration>