<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SolomonErpAustralia" connectionString="Data Source=AU-BC-UAT-SOLDB;Initial Catalog=SOLAUBS01APP;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SolomonErpHongKong" connectionString="Data Source=AU-BC-UAT-SOLDB;Initial Catalog=SOLHKBS01APP;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SolomonErpMalaysia" connectionString="Data Source=AU-BC-DEV-SOLDB;Initial Catalog=SOLMLBS01APP;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SolomonErpNewZealand" connectionString="Data Source=AU-BSNZ-DEV-DB;Initial Catalog=SOLNZBS01APP;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SolomonErpRouteChannelAustralia" connectionString="Data Source=05w8f2rcsq01\routeuat;Initial Catalog=solauppsapp;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SolomonErpSingapore" connectionString="Data Source=AP-TEST-DB;Initial Catalog=SOLSGBS03APP;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SolomonErpSouthAfrica" connectionString="Data Source=05W3F2APSQ01;Initial Catalog=SOLZABS33APP;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>