<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name ="Registrys">
      <section name="Registry" type="Sandbox.dll.CustomConfigHandler.ConfigRegistryHandler, Sandbox.dll.CustomConfigHandler"/>
    </sectionGroup>
  </configSections>
  <Registrys>
    <Registry>
      <add ValueName="ProxyEnable" RegKey="HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings" Value="0" Type="REG_DWORD" />
      <add ValueName="Start Page" RegKey="HKEY_CURRENT_USER\Software\Policies\Microsoft\Internet Explorer\Main" Value="www.google.com.au" Type="REG_SZ"/>
    </Registry>    
  </Registrys>
  <appSettings>
    <add key="TimerInterval" value="30000"/>
  </appSettings>

</configuration>