<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Servers>
    <server name="Biztalk Develop">
      <IPs>
        <IP name ="home" DynamicIP="true" DynamicDNS="true" />
        <IP name ="static home" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" SecDNS="192.168.0.10" />
        <IP name="Work Developer Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" />
        <IP name="Work Server Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" DynamicDNS="true" />
      </IPs>
    </server>
    <server name="Biztalk Test">
      <IPs>
        <IP name ="home" DynamicIP="true" DynamicDNS="true" />
        <IP name ="static home" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" SecDNS="192.168.0.10" />
        <IP name="Work Developer Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" />
        <IP name="Work Server Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" DynamicDNS="true" />
      </IPs>
    </server>
    <server name="Biztalk Production">
      <IPs>
        <IP name ="home" DynamicIP="true" DynamicDNS="true" />
        <IP name ="static home" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" SecDNS="192.168.0.10" />
        <IP name="Work Developer Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" />
        <IP name="Work Server Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" DynamicDNS="true" />
      </IPs>
    </server>
    <server name="Sharepoint Develop">
      <IPs>
        <IP name ="home" DynamicIP="true" DynamicDNS="true" />
        <IP name ="static home" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" SecDNS="192.168.0.10" />
        <IP name="Work Developer Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" />
        <IP name="Work Server Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" DynamicDNS="true" />
      </IPs>
    </server>
    <server name="Sharepoint Test">
      <IPs>
        <IP name ="home" DynamicIP="true" DynamicDNS="true" />
        <IP name ="static home" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" SecDNS="192.168.0.10" />
        <IP name="Work Developer Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" />
        <IP name="Work Server Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" DynamicDNS="true" />
      </IPs>
    </server>
    <server name="Sharepoint Production">
      <IPs>
        <IP name ="home" DynamicIP="true" DynamicDNS="true" />
        <IP name ="static home" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" SecDNS="192.168.0.10" />
        <IP name="Work Developer Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" PreDNS="192.168.0.9" />
        <IP name="Work Server Net" IPAddress="192.168.0.100" SubnetMask="255.255.0.0" DefaultGateway="192.168.0.1" DynamicDNS="true" />
      </IPs>
    </server>

  </Servers>
</configuration>