<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MissingPasswordFile" value="D:\SandBox\2005\SQLCracker\SQLCracker2\data\MissingPasswordList.xml" />
    <add key="DictionaryFile" value="D:\SandBox\2005\SQLCracker\SQLCracker2\data\Dictionary.txt" />
    <add key="FoundPasswordFile" value="D:\SandBox\2005\SQLCracker\SQLCracker2\data\output.xml" />
    <add key="CharacterSearch" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=!@#$%^&amp;*()_+[]\{}|;':&quot;,./&lt;&gt;?`~" />
    <add key="Size" value="20" />
    <add key="CurrentPosition" value="" />
  </appSettings>
</configuration>