<?xml version="1.0"?>
<configuration>
	<InstallApplications>
		<add key="IIS" value="[BASEINSTALLDIR]installIIS.bat" />
		<add key="Office2007" value="[BASEINSTALLDIR]installOffice2007.bat" />
		<add key="Visual2008" value="[BASEINSTALLDIR]installVisualStudio2008.bat" />
		<add key="Visual2008TeamExplorer" value="[BASEINSTALLDIR]installVisualStudio2008TeamExplorer.bat" />
		<add key="Visual2008Sp1" value="[BASEINSTALLDIR]installVisualStudio2008_sp1.bat" />
		<add key="SQL2008" value="[BASEINSTALLDIR]installSQL2008.bat" />
		<add key="BiztalkPrerequisites" value="[BASEINSTALLDIR]installBiztalkPrerequisites.bat" />
		<add key="Wss3Sp1" value="[BASEINSTALLDIR]installWSS3sp1.bat" />
		<add key="Biztalk2009" value="[BASEINSTALLDIR]installBiztalk2009.bat" />
	</InstallApplications>
	<OrderToInstall>
		<add key="1" value="IIS" />
		<add key="2" value="Office2007" />
		<add key="3" value="Visual2008" />
		<add key="4" value="Visual2008TeamExplorer" />
		<add key="5" value="Visual2008Sp1" />
		<add key="6" value="SQL2008" />
		<add key="7" value="Reboot" />
		<add key="8" value="SQL2008" />
		<add key="9" value="BiztalkPrerequisites" />
		<add key="10" value="Wss3Sp1" />
		<add key="11" value="Biztalk2009" />
	</OrderToInstall>
</configuration>