<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InstallApplications" type="SandBox.Winform.SilentInstall.InstallApplicationsSection, SilentInstall"/>
    <section name="InstallChoice" type="SandBox.Winform.SilentInstall.EnvironmentsSection, SilentInstall" />
  </configSections>
  <appSettings>
    <add key="WorkConfigDir" value="./Work/"/>
    <add key="ConfigDir" value="./ConfigFiles/"/>
    <add key="WorkConfig" value="work.config"/>
    <add key="LogFile" value ="log.txt"/>
    <add key="ApplicationLogFile" value ="Applicationlog.txt"/>
    <add key="RegKeyWinlogon" value="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon\"/>
    <add key="RegKeyBaseMachine" value="HKEY_LOCAL_MACHINE" />
    <add key="ContinueBat" value="continue.bat"/>
  </appSettings>
  <InstallApplications>
    <application name="Biztalk2006R2" Description="Biztalk 2006 R2" Execute="[BASEINSTALLDIR]installBiztalk2006r2.bat" ExitCode="0"/>
    <application name="Biztalk2009" Description="Biztalk 2009" Execute="[BASEINSTALLDIR]installBiztalk2009.bat" ExitCode="0"/>
    <application name="Biztalk2009Config" Description="Biztalk 2009 Config" Execute="[BASEINSTALLDIR]installBiztalk2009Config.bat" ExitCode="0"  UserPassRequired="1"/>
    <application name="Biztalk2009Prerequisites" Description="Biztalk Prerequisites" Execute="[BASEINSTALLDIR]installBiztalk2009Prerequisites.bat" ExitCode="0"/>
    <application name="Biztalk2009ESBToolKit20" Description="Biztalk 2009 ESB Tool Kit 2.0" Execute="[BASEINSTALLDIR]installBizTalk2009ESBToolKit2_0.bat" ExitCode="0"/>
    <application name="IIS6" Description="IIS 6" Execute="[BASEINSTALLDIR]installIIS6.bat" ExitCode="0"/>
    <application name="IIS7" Description="IIS 7" Execute="[BASEINSTALLDIR]installIIS7.bat" ExitCode="0"/>
    <application name="Office2007" Description="Office 2007" Execute="[BASEINSTALLDIR]installOffice2007.bat" ExitCode="0"/>
    <application name="Powershellv1.0" Description="Powershell v1.0" Execute="[BASEINSTALLDIR]installPowershellv1.0.bat" ExitCode="0"/>
    <application name="PowershellUnrestricted" Description="Set Powershell Unrestricted" Execute="[BASEINSTALLDIR]setPowerShellUnrestricted.bat" ExitCode="0"/>
    <application name="SharePointDesigner2007" Description="SharePoint Designer 2007" Execute="[BASEINSTALLDIR]installSharePointDesigner2007.bat" ExitCode="0"/>
    <application name="SQL2005" Description="SQL 2005" Execute="[BASEINSTALLDIR]installsql2005.bat" ExitCode="0"/>
    <application name="SQL2005Sp3" Description="SQL 2005 Service Pack 3" Execute="[BASEINSTALLDIR]installsql2005_sp3.bat" ExitCode="0,3010"/>
    <application name="SQL2008" Description="SQL 2008" Execute="[BASEINSTALLDIR]installSQL2008.bat" ExitCode="0,-2067919934"/>
    <application name="SQL2008Protocols" Description="SQL 2008 Protocols" Execute="[BASEINSTALLDIR]installSQL2008Protocols.bat" ExitCode="0"/>    
    <application name="Visual2005" Description="Visual Studio 2005" Execute="[BASEINSTALLDIR]installvs2005.bat" ExitCode="0"/>
    <application name="Visual2005Sp1" Description="Visual Studio 2005 Service Pack 1" Execute="[BASEINSTALLDIR]installvs2005_sp1.bat" ExitCode="0"/>
    <application name="Visual2008" Description="Visual Studio 2008" Execute="[BASEINSTALLDIR]installVisualStudio2008.bat" ExitCode="0"/>
    <application name="Visual2008SharePointExtensionv13" Description="Visual Studio 2008 SharePoint Extensions v1.3"  Execute="[BASEINSTALLDIR]installVisualStudio2008_SharePointExtension_v13.bat" ExitCode="0"/>
    <application name="Visual2008Sp1" Description="Visual Studio 2008 Service Pack 1" Execute="[BASEINSTALLDIR]installVisualStudio2008_sp1.bat" ExitCode="0"/>
    <application name="Visual2008TeamExplorer" Description="Visual Studio 2008 Team Explorer" Execute="[BASEINSTALLDIR]installVisualStudio2008TeamExplorer.bat" ExitCode="0"/>
    <application name="Wss3Sp1" Description="Windows SharePoint Services 3 with Service Pack 1"  Execute="[BASEINSTALLDIR]installWSS3sp1.bat" ExitCode="0"/>
    <application name="Wss3CentralAdmin" Description="Windows SharePoint Services 3 Create Central Administration"  Execute="[BASEINSTALLDIR]installWss3CentralAdmin.bat" ExitCode="0" UserPassRequired="1"/>
    <application name="Wss3Site11000" Description="Windows SharePoint Services 3 Create Sharepoint Site Port 11000"  Execute="[BASEINSTALLDIR]installWss3Site11000.bat" ExitCode="0" UserPassRequired="1"/>
    <application name="Reboot" Description="Reboot" Execute="[BASEINSTALLDIR]Reboot.bat" ExitCode="0"/>
  </InstallApplications>
  <InstallChoice>
    <Environments>
      <Environment name="Biztalk2006 R2" Description="Install Biztalk 2006 R2 Dev on win 2003">
        <applications>
          <application order="1" value="IIS6" />
          <application order="2" value="SQL2005" />
          <application order="3" value="Visual2005" />
          <application order="4" value="Visual2005Sp1" />
          <application order="5" value="SQL2005Sp3" />
          <application order="6" value="Reboot" />
          <application order="7" value="Wss3Sp1" />
          <application order="8" value="Biztalk2006R2" />
        </applications>
      </Environment>
      <Environment name="Biztalk2009" Description="Install Biztalk 2009 Dev on win 2008">
        <applications>
          <application order="1" value="Powershellv1.0" />
          <application order="2" value="Reboot" />
          <application order="3" value="PowershellUnrestricted" />
          <application order="4" value="IIS7" />
          <application order="5" value="Office2007" />
          <application order="6" value="Visual2008" />
          <application order="7" value="Visual2008TeamExplorer" />
          <application order="8" value="Reboot" />
          <application order="9" value="Visual2008Sp1" />
          <application order="10" value="SQL2008" />
          <application order="11" value="Reboot" />
          <application order="12" value="SQL2008" />
          <application order="13" value="Biztalk2009Prerequisites" />
          <application order="14" value="Wss3Sp1" />
          <application order="15" value="Biztalk2009" />
          <application order="16" value="SQL2008Protocols" />
          <application order="17" value="Wss3CentralAdmin" />
          <application order="18" value="Wss3Site11000" />
          <application order="19" value="Biztalk2009Config" />			
        </applications>
      </Environment>
      <Environment name="Biztalk2009ESBToolKit20" Description="Install Biztalk 2009 ESB Tool Kit 2.0">
        <applications>
          <application order="1" value="Biztalk2009ESBToolKit20" />
        </applications>
      </Environment>
    </Environments>
  </InstallChoice>
</configuration>