<?xml version="1.0"?>
<configuration>
	<InstallApplications>
		<add key="IIS" value="c:\installfiles\installIIS.bat" />
		<add key="Office2007" value="c:\installfiles\installOffice2007.bat" />
		<add key="Visual2008" value="c:\installfiles\installVisualStudio2008.bat" />
		<add key="Visual2008Sp1" value="c:\installfiles\installVisualStudio2008_sp1.bat" />
		<add key="SQL2008" value="c:\installfiles\installSQL2008.bat" />
		<add key="BiztalkPrerequisites" value="c:\installfiles\installBiztalkPrerequisites.bat" />
		<add key="Wss3Sp1" value="c:\installfiles\installWSS3sp1.bat" />
		<add key="Biztalk2009" value="c:\installfiles\installBiztalk2009.bat" />		
	</InstallApplications>
	<OrderToInstall>		
		<add key="1" value="IIS" />
		<add key="2" value="Office2007" />
		<add key="3" value="Visual2008" />
		<add key="4" value="Visual2008Sp1" />
		<add key="5" value="SQL2008" />
		<add key="6" value="Reboot" />		
		<add key="7" value="SQL2008" />
		<add key="8" value="BiztalkPrerequisites" />
		<add key="9" value="Wss3Sp1" />
		<add key="10" value="Biztalk2009" />		
	</OrderToInstall>
</configuration>
													
